<div class="container h-100">
    <div class="row">
        <div class="col-lg-5">
            <app-search [search]="'beneficiario'" (beneficiarioSearchEvent)="getBeneficiarioInfo($event)" ></app-search>
        </div>
        <div class="col-12 col-lg-7 mt-2 border border-1 h-100">
            <div class="row" *ngIf="beneInfo.length > 0;else elseBlockEmpty">
                <div class="col-12 border-bottom pt-2" *ngFor="let bene of beneInfo">
                    <div class="row">
                        <div class="col-6">
                            <p><b>Nome</b>: <span>{{bene.beneficiario.nome}}</span></p>
                            <p><b>CPF</b>: <span>{{bene.beneficiario.cpfFormatado}}</span></p>
                            <p><b>Código IBGE</b>: <span>{{bene.municipio.codigoIBGE}}</span></p>
                        </div>
                        <div class="col-6">
                            <p><b>Parcela</b>: <span>{{bene.numeroParcela}}</span></p>
                            <p><b>Valor</b>: <span>R$ {{bene.valor | number: '1.2-2'}}</span></p>
                            <p><b>Localidade</b>: <span>{{bene.municipio.nomeIBGE}}</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <ng-template #elseBlockEmpty>
                <div class="row">
                    <p class="text-center">Não há informações a serem exibidas no momento.</p>
                </div>
            </ng-template>
        </div>
    </div>
</div>