<div class="container h-100">
    <div class="row">
        <div class="col-lg-5">
            <app-search [search]="'municipio'" (municipioSearchEvent)="getMunicipioInfo($event)" ></app-search>
        </div>
        <div class="col-12 col-lg-7 mt-2 border border-1 h-100">
            <div class="row" *ngIf="muniInfo.length > 0;else elseBlockEmpty">
                <div class="col-12 border-bottom pt-2" *ngFor="let muni of muniInfo">
                    <div class="row">
                        <div class="col-6">
                            <p><b>Código IBGE</b>: <span>{{muni.municipio.codigoIBGE}}</span></p>
                            <p><b>Localidade</b>: <span>{{muni.municipio.nomeIBGE}}</span></p>
                        </div>
                        <div class="col-6">
                            <p><b>Nº Beneficiados</b>: <span>{{muni.quantidadeBeneficiados}}</span></p>
                            <p><b>Valor</b>: <span>R$ {{muni.valor | number: '1.2-2'}}</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <ng-template #elseBlockEmpty>
                <div class="row">
                    <p class="text-center">Não há informações a serem exibidas no momento.</p>
                </div>
            </ng-template>
        </div>
    </div>
</div>