$target-blue: #0077bd;
$target-orange: #ff9734 ;
$target-black: #5c6b80;

.target-blue-bg {
    background-color: $target-blue;
}

.target-orange-bg {
    background-color: $target-orange;
}

.target-black-bg {
    background-color: $target-black;
}

.target-blue-bg {
    background-color: $target-blue;
}

.target-orange-bg {
    background-color: $target-orange;
}

.target-black-bg {
    background-color: $target-black;
}