<div class="container-fluid">
    <div class="row">
        <div class="col-12 pt-2">
            <accordion [isAnimated]="true" [closeOthers]="true">
                <accordion-group heading="Buscar por Cep">
                    <app-search-cep (beneficiarioCepEvent)="onEmitBeneficiario($event)" (municipioCepEvent)="onEmitMunicipio($event)"></app-search-cep>
                </accordion-group>

                <accordion-group heading="Buscar por Logradouro"> <!-- minlength = 3 ? + getCepInfoWithLogradouro -->
                    <app-search-logradouro (beneficiarioLogradouroEvent)="onEmitBeneficiario($event)" (municipioLogradouroEvent)="onEmitMunicipio($event)"></app-search-logradouro>
                </accordion-group>

                <accordion-group heading="Buscar por CPF / NIS" *ngIf="search === 'beneficiario'">
                    <app-search-cpf-nis (beneficiarioCpfNisEvent)="onEmitBeneficiario($event)"></app-search-cpf-nis>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>